/* post editor */

#dppress-schd-box {}

#dppress-schd-box ul.dppress-data {
	margin: 0;
	padding: 0;
	width: 100%;
}

#dppress-schd-box ul.dppress-data li {
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin: 0 0 6% 0;
	padding: 0;
}

#dppress-schd-box ul.dppress-data li.dppress-count-field {
	width: 24%;
	margin-right: 4%;
}

#dppress-schd-box ul.dppress-data li.dppress-range-field {
	width: 65%;
}

#dppress-schd-box ul.dppress-data li.dppress-group-field {
	width: 100%;
	margin-bottom: 0;
}

#dppress-schd-box ul.dppress-data li span {
	width: 100%;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#dppress-schd-box ul.dppress-data li span.field-title {
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;
}

#dppress-schd-box ul.dppress-data li.dppress-count-field span.field-title {
	text-align: center;
}

#dppress-schd-box ul.dppress-data li span input,
#dppress-schd-box ul.dppress-data li span select {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#dppress-schd-box ul.dppress-data li.dppress-group-field input {
	margin: 0 4px 0 0;
}

/* admin column */
table.posts th.column-drip-length,
table.posts td.column-drip-length {
	max-width: 100px;
}
