
.inline-edit-spacer {
	width:50%;
	float:left;
}

.inline-drippress-quick-fields {
	width: auto;
}

.inline-edit-row fieldset label span.inline-drippress-quick-row {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	line-height: 2.5;
}

.inline-edit-row fieldset label span.inline-drippress-quick-row.inline-drippress-quick-label {
	font-style: italic;
	padding-right: 0.5em;
}

.inline-edit-row fieldset label span.inline-drippress-quick-fields input {
	margin-right: 5px;
}

.inline-edit-row fieldset label span.inline-drippress-quick-fields select {
	vertical-align: top;
}
