
/* user button */

p.dppress-prompt-button-wrap {
	text-align: center;
}

p.dppress-prompt-button-wrap button,
p.dppress-prompt-button-wrap button[disabled]:hover,
p.dppress-prompt-button-wrap button[disabled]:focus {
	background: #1a1a1a;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1;
	padding: 12px 15px;
}

p.dppress-prompt-button-wrap button:hover,
p.dppress-prompt-button-wrap button:focus {
	background: #007acc;
}

p.dppress-prompt-button-wrap button:focus {
	outline: thin dotted;
	outline-offset: -4px;
}


/* button completed status */

.dppress-message {
	text-align: center;
}

.dppress-message-completed {
	font-style: italic;
}

/* drip content list */

.dppress-user-progress-list {
	list-style: none;
	margin: 0 0 10px;
	padding: 0 0 10px;
}

.dppress-content-list-item {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 4px 8px;
	margin: 0 0 2px 0;
	position: relative;
}

.dppress-content-accessible {}

.dppress-content-restricted {}

.dppress-content-completed {
	background-color: #f5f5f5;
}

.dppress-content-completed a {}

.dppress-content-icon {
	border: 1px solid #666;
	background-color: #fff;
	position: absolute;
	top: 5px;
	right: 25px;
}

.dppress-content-checkmark-complete {
	color: #4f8a10;
	cursor: help;
	padding: 1px 5px;
	font-size: 20px;
	text-align: center;
	line-height: 1;
	height: 26px;
	width: 26px;
}

.dppress-content-view-title {
	opacity: 0.7;
}

.dppress-content-view-date {
	margin-left: 10px;
	font-style: italic;
	font-weight: 700;
	font-size: 80%;
}
